* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 40, 0.6);
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}

header button {
    padding: 16px 32px;
    background-color: black;
    color: white;
    border-radius: 24px;
    font-size: 2rem;
    /* margin-right: 5%; */
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    font-size: 2rem;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    gap: 20px;
    position: relative;



}

.modal-content img {
    border-radius: 50%;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content button {
    padding: 8px 16px;

    align-self: center;
    background-color: rgb(65, 147, 255);
    color: white;
    border-radius: 24px;
    font-size: 1.5rem;
    justify-self: flex-end;
    /* margin-right: 5%; */
}

.modal-content input {
    width: 70%;
    display: block;
    margin: 5px auto;
    font-size: 1.4rem;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
    height: 100%;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, 225px);
    justify-content: center;
    align-items: center;

    max-width: 960px;
    gap: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 225px;
    background: linear-gradient(150deg, rgba(25, 24, 29, 0.932), rgb(136, 173, 197) 100%);
    gap: 15px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;

}

.card p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.822);
}

.card h2 {
    display: block;
    height: 25%;
    padding: 0;
    margin: 0;
    text-align: center;
    /* background-color: rgba(8, 4, 0, 0.822); */
    /* background: linear-gradient(150deg, rgba(242, 238, 253, 0.671), rgb(3, 0, 0) 100%); */

    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    left: 50%;
}

.card div {
    display: flex;
    gap: 3px;
    position: absolute;
    bottom: 20px;
    right: 35px;
    /* align-self: flex-end; */
    padding: 10px;
    transform: scale(2.5);
    /* font-size: 30px; */

}

.card div label, input {

    display: inline-block;
    vertical-align: middle;
    
}

.card div label {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.918);
}

.read-book {
    background-color: white;
    background: linear-gradient(150deg, rgba(158, 137, 243, 0.932), rgb(61, 224, 83) 100%);

}